% vim: ft=erlang:
[     {apns, [ 
               %{apple_host,   "gateway.push.apple.com"}
               {apple_host,       "gateway.sandbox.push.apple.com"}
             , {apple_port,       2195}
             , {cert_file,        "priv/certs/apns-dev-cert.pem"}
             , {key_file,         "priv/certs/apns-dev-key.pem"}
             , {cert_password,    "123horst456"}
             , {timeout,          30000}
             , {expires_conn, 300}
             , {feedback_host,    "feedback.sandbox.push.apple.com"}
             %, {feedback_host,    "feedbackpush.apple.com"}
             , {feedback_port,    2196}
             , {feedback_timeout, 600000} %% 10 Minutes
             ]
      }
].
